@model PassbookManagement.Models.Passbook

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Passbook</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Period)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Period)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterestValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterestValue.InterestId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFinalized)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFinalized)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpendingAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpendingAccount.AccountId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PassbookId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
